<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/sivan/IdeaProjects/LearningSeleniumATB11x">
        <classes>
            <class name="com.thetestingacademy.ex_04_mini_Project04.SeleniumBasics15_KatolonProject">
            </class>
        </classes>
    </test>
</suite>